@import "normalize.css"

:root
  --input-outline-color--focus: black
  --input-border-color--focus: black
  --input-bg-color--focus: black

@import "vcl-default-theme"
@import "vcl-default-theme-terms"

@import "vcl-adv-text-structure"
@import "vcl-button"
@import "vcl-container"
@import "vcl-data-list"
@import "vcl-embedded-input-button"
@import "vcl-font-awesome"
@import "vcl-icogram"
@import "vcl-input"
@import "vcl-input-group"
@import "vcl-label"
@import "vcl-layout-spans"
@import "vcl-flex-layout"
@import "vcl-navigation"
@import "vcl-notification"
@import "vcl-tab-nav"
@import "vcl-table"
@import "vcl-toolbar"
@import "vcl-transitions"
@import "vcl-typography"
@import "vcl-utils"
@import "./style.styl"