html, body
  min-height: 100%
  height: 100%

body
  margin: 0

header
  margin-top: 0
  padding: 1em
  position: relative
.docMain
  height: 100%

.docQuicklinks
  position: absolute
  right: 25px
  top: 25px

.docWelcome
  margin: 3em

.docDemo
  margin-top: 15px
  margin-bottom: 40px


.docDemoContent
  padding: 20px
  padding-top: 40px
  padding-bottom: 40px
  border-top: 0 none
  margin: 0
  overflow: auto
  position: relative
  transform: translateZ(0)

pre.docDemoContent
  border: 1px solid black
  padding: 1em

.docContent
  padding-right: 15px
  padding-left: 15px

.docPart
  margin-bottom: 20px
  border-bottom: 1px solid gray

.docNav
  padding-top: 10px
  padding-right: 15px
  padding-left: 0
  padding-bottom: 0
  margin-bottom: 0
  min-width: 15em

#doc-search
  box-sizing: border-box

.docMetadata
  padding-top: 10px
  margin-left: 2em

.docNavHeading a
  font-weight: bold !important

.docNavItem > a
  padding-left: 2.7em !important

.code
  position: relative

.docEditDemo
  position: absolute
  top: -35px
  right: 0

code.hljs
  white-space: inherit
